<div class="row">
    <div class="col-md-12"
         style="padding-top: 5px;">
        <span class="float-right"><a routerLink="/customer/list"
               title="Sluiten"
               class="close-href"><i class="lni-close"></i></a></span>
    </div>
</div>
<div class="row pt-0">
    <div class="col-lg-4 col-xl-3 mb-4 mb-xl-0">
        <section class="card">
            <div class="card-body">
                <div class="thumb-info mb-3">
                    <agm-map [latitude]="51.074760"
                             [longitude]="4.791020"
                             [zoom]="15">
                        <agm-marker [opacity]="1"
                                    [latitude]="51.074760"
                                    [longitude]="4.791020"
                                    [markerDraggable]="false"></agm-marker>
                    </agm-map>
                    <div class="thumb-info-title"
                         *ngIf="primaryLabelOnMap || secondaryLabelOnMap">
                        <span class="thumb-info-inner">{{ primaryLabelOnMap }}</span>
                        <span class="thumb-info-type">{{ secondaryLabelOnMap }}</span>
                    </div>
                </div>
                <hr class="dotted short">
                <!-- <h5 class="mb-2 mt-3">Over</h5>
                <p class="text-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam quis vulputate
                    quam. Interdum et malesuada</p>
                <div class="clearfix">
                    <a class="text-uppercase text-muted float-right"
                       href="#">(View All)</a>
                </div>
                <hr class="dotted short"> -->
                <!-- <div class="social-icons-list">
                    <a rel="tooltip"
                       data-placement="bottom"
                       target="_blank"
                       href="http://www.facebook.com"
                       data-original-title="Facebook"><i class="fab fa-facebook-f"></i><span>Facebook</span></a>
                    <a rel="tooltip"
                       data-placement="bottom"
                       href="http://www.twitter.com"
                       data-original-title="Twitter"><i class="fab fa-twitter"></i><span>Twitter</span></a>
                    <a rel="tooltip"
                       data-placement="bottom"
                       href="http://www.linkedin.com"
                       data-original-title="Linkedin"><i class="fab fa-linkedin-in"></i><span>Linkedin</span></a>
                </div> -->
            </div>
        </section>
    </div>
    <div class="col-lg-8 col-xl-6">
        <div class="tabs">
            <ul class="nav nav-tabs tabs-primary">
                <li class="nav-item active">
                    <a class="nav-link"
                       href="#overview"
                       data-toggle="tab">Algemeen</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link"
                       href="#adres"
                       data-toggle="tab">Adres</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       href="#edit"
                       data-toggle="tab">Opmerkingen</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       href="#media"
                       data-toggle="tab">Documenten</a>
                </li> -->
            </ul>
            <div class="tab-content">
                <div id="overview"
                     class="tab-pane active">
                    <form novalidate
                          (ngSubmit)="saveCustomer()"
                          [formGroup]="customerForm"
                          class="p-3">

                        <div class="form-group">
                            <label for="nameId">Naam:<span style="color: red;">*</span></label>
                            <input id="nameId"
                                   type="text"
                                   formControlName="name"
                                   [ngClass]="{'form-control': true, 'is-invalid': displayMessage.name}">
                            <span class="invalid-feedback">
                                {{displayMessage.name}}
                            </span>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-3">
                                <label for="countryId">Land</label>
                                <select id="countryId"
                                        class="form-control" disabled>
                                    <option *ngFor="let item of countryList">{{item.name}}</option>
                                </select>
                            </div>
                            <div class="form-group col-md-2">
                                <label for="postalCodeId">Postcode</label>
                                <input id="postalCodeId"
                                       type="text"
                                       class="form-control"
                                       style="resize: none;"
                                       formControlName="postalCode"
                                       [ngClass]="{'is-invalid': displayMessage.postalCode}" />
                                <span class="invalid-feedback">
                                    {{displayMessage.postalCode}}
                                </span>
                            </div>
                            <div class="form-group col-md-7">
                                <label for="cityId">Gemeente</label>
                                <input id="cityId"
                                       type="text"
                                       class="form-control"
                                       style="resize: none;"
                                       formControlName="city"
                                       [ngClass]="{'is-invalid': displayMessage.city}" />
                                <span class="invalid-feedback">
                                    {{displayMessage.city}}
                                </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="addressId">Adres</label>
                            <textarea id="addressId"
                                      type="text"
                                      class="form-control"
                                      style="resize: none;"
                                      formControlName="address"
                                      [ngClass]="{'is-invalid': displayMessage.address}">
                                    </textarea>
                            <span class="invalid-feedback">
                                {{displayMessage.address}}
                            </span>
                        </div>

                        <div class="form-group">
                            <div formArrayName="phoneNumbers"
                                 *ngFor="let group of phoneNumbersFormArray.controls; let i=index">
                                <label attr.for="{{ 'phone' + i }}"
                                       *ngIf="i===0">Telefoon <abbr>(max. 3)</abbr></label>
                                <div [formGroupName]="i"
                                     class="mb-2">
                                    <div class="input-group">
                                        <span class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fas fa-phone"></i>
                                            </span>
                                        </span>
                                        <input id="{{ 'phone' + i }}"
                                               type="text"
                                               formControlName="phone"
                                               [ngClass]="{
                                                   'form-control': true,
                                                   'is-invalid': !phoneNumbersFormArray.controls[i].get('phone').valid }" />
                                        <span *ngIf="phoneNumbersFormArray.controls[i].get('phone').errors?.maxlength"
                                              class="invalid-feedback">
                                            {{ validationMessages.phone.maxlength }}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <span class="float-right">
                                <a [routerLink]=""
                                   title="Telefoonnummer verwijderen"
                                   style="text-decoration: none;"
                                   (click)="deletePhoneNumber()">
                                    <i class="icons icon-minus"
                                       style="font-size: 18px;"></i></a>
                                &nbsp;
                                <a [routerLink]=""
                                   title="Telefoonnummer toevoegen"
                                   style="text-decoration: none;"
                                   (click)="addPhoneNumber()"><i class="icons icon-plus"
                                       style="font-size: 18px;"></i></a></span>
                        </div>

                        <div class="form-group">
                            <div formArrayName="emailAddresses"
                                 *ngFor="let group of emailAddressesFormArray.controls; let i=index">
                                <label attr.for="{{ 'emailId' + i }}"
                                       *ngIf="i===0">E-mail <abbr>(max. 3)</abbr></label>
                                <div [formGroupName]="i"
                                     class="mb-2">
                                    <div class="input-group">
                                        <span class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fas fa-envelope"></i>
                                            </span>
                                        </span>
                                        <input id="{{ 'emailId' + i }}"
                                               type="text"
                                               formControlName="email"
                                               [ngClass]="{
                                                   'form-control': true,
                                                   'is-invalid': !emailAddressesFormArray.controls[i].get('email').valid }" />
                                        <span *ngIf="emailAddressesFormArray.controls[i].get('email').errors?.email"
                                              class="invalid-feedback">
                                            {{ validationMessages.email.email }}
                                        </span>
                                        <span *ngIf="emailAddressesFormArray.controls[i].get('email').errors?.maxlength"
                                              class="invalid-feedback">
                                            {{ validationMessages.email.maxlength }}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <span class="float-right">
                                <a [routerLink]=""
                                   title="E-mail adres verwijderen"
                                   style="text-decoration: none;"
                                   (click)="deleteEmailAddress()">
                                    <i class="icons icon-minus"
                                       style="font-size: 18px;"></i></a>
                                &nbsp;
                                <a [routerLink]=""
                                   title="E-mail adres toevoegen"
                                   style="text-decoration: none;"
                                   (click)="addEmailAddress()">
                                    <i class="icons icon-plus"
                                       style="font-size: 18px;"></i></a></span>
                        </div>

                        <hr class="dotted small">
                        <div class="form-row">
                            <div class="col-md-12 text-right mt-3">
                                <button class="btn btn-primary"
                                        type="submit">Bewaar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3">
        <!-- <div class="alert alert-danger"
             *ngIf="errorMessage">{{ errorMessage }}
        </div> -->
    </div>
</div>
<!-- 
<br>displayMessage: {{ displayMessage}}
<br>dirty: {{ customerForm.dirty}}
<br>touched: {{ customerForm.touched}}
<br>valid: {{ customerForm.valid}}
<br>value: {{ customerForm.value | json}} -->