<section class="card">
    <div class="card-body"
         style="display: block;">
        <div class="row mb-5 mt-2">
            <div class="col-md-4 offset-4">
                <app-search #searchComponent
                            [helpText]="helpTextString"
                            [hitCount]="this.pagination.totalCount"
                            (valueChange)='onValueChange($event)'>
                </app-search>
            </div>
            <div class="col-md-4"><button type="button"
                        [routerLink]="['/customer/0/edit']"
                        class="btn btn-primary float-right">Nieuwe klant</button></div>
        </div>
        <div class="dataTables_wrapper">
            <table class="table table-responsive-md table-hover mb-0"
                   style="table-layout: fixed;"
                   *ngIf='customers?.length'>
                <thead>
                    <tr>
                        <th class="text-center"
                            style="width: 50px;"></th>
                        <th class="text">Klant</th>
                        <!-- <th class="text">Adres</th> -->
                        <th class="text">Telefoon</th>
                        <th class="text">E-mail</th>
                        <th class="text-center"
                            style="width: 100px;">Acties</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let customer of customers'>
                        <td data-title=""
                            class="text-center">
                            <ngb-rating [(rate)]="selected"
                                        [starTemplate]="t"
                                        [resettable]="true"
                                        max="1"></ngb-rating>
                            <!-- <i class="el el-star-empty"></i> -->

                        </td>
                        <td class="text">{{ customer.name }}</td>
                        <!-- <td class="text">{{ customer.address }}</td> -->
                        <td class="text ">{{ customer.phone }}</td>
                        <td class="text">{{ customer.email }}</td>
                        <td class="text-center">
                            <a [routerLink]="['/customer/', customer.id, 'edit']"
                               class="on-default edit-row"
                               placement="top"
                               ngbTooltip="Bewerk"
                               tooltipClass="my-custom-tooltip"><i class="fas fa-pencil-alt"></i></a>
                            &nbsp;
                            <a [routerLink]=""
                               (click)="deleteCustomers(customer.id)"
                               placement="top"
                               ngbTooltip="Verwijder"
                               tooltipClass="my-custom-tooltip"
                               class="on-default edit-row"><i class="fas fa-trash-alt"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="dataTables_paginate paging_simple_numbers">
                <ul *ngIf="pager.pages && pager.pages.length"
                    class="pagination">
                    <li [ngClass]="{disabled:pager.currentPage === 1}"
                        class="paginate_button page-item previous">
                        <a (click)="displayCustomers(1)"
                           class="page-link">First</a>
                    </li>
                    <li [ngClass]="{disabled:pager.currentPage === 1}"
                        class="paginate_button page-item previous">
                        <a (click)="displayCustomers(pager.currentPage - 1)"
                           class="page-link">Previous</a>
                    </li>
                    <li *ngFor="let page of pager.pages"
                        class="paginate_button page-item "
                        [ngClass]="{active:pager.currentPage === page}">
                        <a (click)="displayCustomers(page)"
                           class="page-link">{{page}}</a>
                    </li>
                    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}"
                        class="paginate_button page-item next">
                        <a (click)="displayCustomers(pager.currentPage + 1)"
                           class="page-link">Next</a>
                    </li>
                    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}"
                        class="paginate_button page-item next">
                        <a (click)="displayCustomers(pager.totalPages)"
                           class="page-link">Last</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>