<section role="main" class="content-body tab-menu-opened">
    <section class="card card-featured-left card-featured-primary mb-3">
        <div class="card-body">
            <div class="widget-summary">
                <div class="widget-summary-col widget-summary-col-icon">
                    <div class="summary-icon bg-primary">
                        <i class="fas fa-users"></i>
                    </div>
                </div>
                <div class="widget-summary-col">
                    <div class="summary">
                        <h4 class="title">Aantal klanten</h4>
                        <div class="info">
                            <strong class="amount">{{ totalCustoners }}</strong>
                            <span class="text-primary">(<a routerLink="/customer/list">14 nieuwe</a>, <a routerLink="/customer/list">12 favorieten</a>)</span>
                        </div>
                    </div>
                    <div class="summary-footer">
                        <a class="text-muted text-uppercase" routerLink="/customer/list">(Bekijk)</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>