/* Add here all your CSS customizations */
body {	
	font-size: 16px;
}

.nav-tabs li .nav-link {
    font-size: 16px;
}

.invalid-feedback {
    font-size: 90%;
}

.tab-navigation nav>ul>li>a {
    color: #777;
}

.form-control.is-invalid, .was-validated .form-control:invalid {
    background-image: none;
}

.close-href{
    font-size: 18px;
}

a.close-href:link{
    color: #777;
    text-decoration: none;
}

a.close-href:visited{
    color: #777;
    text-decoration: none;
}

a.close-href:hover{
    color: #33353F;
    text-decoration: none;
}

.social-icons-list>a{
    margin-right: 5px;
}

abbr{
    font-size: small;
}