/* Add here all your CSS customizations */

.tab-navigation nav>ul>li>a {
    color: #777;
}

.form-control.is-invalid, .was-validated .form-control:invalid {
    background-image: none;
}

.close-href{
    font-size: 18px;
}

a.close-href:link{
    color: #777;
    text-decoration: none;
}

a.close-href:visited{
    color: #777;
    text-decoration: none;
}

a.close-href:hover{
    color: #33353F;
    text-decoration: none;
}